.card {
  width: -webkit-fill-available;
  margin: 5px;
}

.home{
  width: 80%;
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
}

.card-deck{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 80%;
}


.pgbody{
  margin: 0 auto;
  display: block;
  width: 80%;
}

.navigation {
  background-color: darkslategray;
  color: aliceblue;
  margin-bottom: 10px;
}

.nav-link {
  color: aliceblue;
}

.tip {
  position: absolute;
  top: 45px;
  left: 30px;
  animation: color-change 1s infinite;
}

@keyframes color-change {
  0% { color: brown ; }
  50% { color: tomato; }
  100% { color: teal; }
}
.explainer{
  background-color: antiquewhite;
  padding: 20px;
}